<div id="index">
	<div>
		<h1>Mot à faire deviner</h1>
		
		<!--<ul>
		<% @words.each do |word| %>
			<li> <%= word['prefLabel'] %></li>
		<% end %>
		</ul>-->
		
		<%= form_tag("/game/game", :method => "get") do %>
		  <%= label_tag(:word, "") %>
		  <%= text_field_tag(:word) %>
		  <%= submit_tag("→") %>
		<% end %>
	</div>
</div>
