<div id="game">
	<div>
	
		<div id="leftColumn">
			<h2>Les mots  interdits</h2>
			
			<ul>
			<% @words.each do |word| %>
				<li> <%= word['altLabel'] %>  (<%= word['weight'] %>)</li>
			<% end %>
			</ul>
		</div>
		
		<div id="rightColumn">
			<h2>Détails</h2>
			
			<p>Le mot à deviner : <span class="bold"><%= @word.capitalize %></span></p>
			<p>Temps pour répondre : <span id="chrono"></span></p>
			
			<div id="indForm">
				<p>
					Indique-nous l'indice qui a permis de trouver le mot.
					Cela améliore notre jeu et contribue à enrichir les concepts liés à l'informatique. 
				</p>
				<%= form_tag("/game/game", :method => "get") do %>
				  <%= label_tag(:indice, "") %>
				  <%= text_field_tag(:indice) %>
				  <%= hidden_field_tag(:word, @word) %>
				  <%= submit_tag("→") %>
				<% end %>
			</div>
		</div>
	
	</div>
</div>